<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-eat=""="{{devour}}">
		{{#if devour}}devour!{{else}}devour!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>